# 编译输出目录
OBJ/
Objects/

# Keil/MDK 工程相关
*.uvoptx
*.uvguix.*
*.axf
*.hex
*.bin
*.d
*.o
*.crf
*.dep
*.map
*.lnp
*.lst
*.sct
*.scvd
*.dbg*
*.iex
*.bak
*.htm
*.log

# 临时文件
*.tmp
*.swp
*.swo
*.user

# IDE 配置
.vscode/
RTE/
Templates/
Examples/

# 例外：保留源码和工程文件
!*.uvprojx
!*.h
!*.c
!*.ioc

# 其他
*.mxproject